.bg-theme {
  background-color: #00cccd;
}

.cart-icon {
  font-size: 2em;
}

.hero-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-background,
.contact-background {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-img-top {
  min-height: 35vh;
}
